<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administrador</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="welcome-container">
    <h1>Bienvenido a la página administrador</h1>
  </div>

 
  <div class="button-container">
    <ion-button expand="block" routerLink="/create-room" color="primary">
      Registrar Habitación
    </ion-button>
    <ion-button expand="block" routerLink="/room-list" color="secondary">
      Consultar Habitación
    </ion-button>
    <ion-button expand="block" routerLink="/editar-habitacion" color="tertiary">
      Editar Habitación
    </ion-button>
    <ion-button expand="block" routerLink="/eliminar-habitacion" color="danger">
      Eliminar Habitación
    </ion-button>
  </div>
</ion-content>
