<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="filterRooms()"
    placeholder="Buscar por número de habitación"
  ></ion-searchbar>

 
  <ion-list>
    <ion-item *ngFor="let habitacion of filteredHabitaciones">
      <ion-thumbnail slot="start">
        <img [src]="habitacion.image" alt="Imagen de habitación" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ habitacion.name }}</h2>
        <p>Número: {{ habitacion.roomNumber }}</p>
        <p>Descripción: {{ habitacion.description }}</p>
        <p>Precio por noche: ${{ habitacion.pricePerNight }}</p>
        <p>Precio por día: ${{ habitacion.pricePerDay }}</p>
      </ion-label>
      <ion-button 
        color="danger" 
        slot="end" 
        (click)="eliminarHabitacion(habitacion.roomNumber)">
        Eliminar
      </ion-button>
    </ion-item>
    
    
  </ion-list>
</ion-content>
